.Navbar{
    height: 80px;
    background-color: #556fee93;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 100px;
}

.Navbar a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
}
.Navbar a:hover{
    color: rgba(255, 0, 34, 0.808);
}
.out-btn{
    background-color: red;
    color: #FFFFFF;
}
